.cart-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(255, 190, 61, 0.33);
    border-radius: 5px;
    height: 100%;
    position: relative;
    min-height: 500px;
    .content {
        padding: 17px 23px 27px 28px;
    }

    .note {
        background: rgba(255, 190, 61, 0.23);
        border-radius: 5px;
        margin: 25px 23px 27px 28px;
        &> div {
            padding: 9px 40px;
        }
    }
}

.card-name {
    position: absolute;
    font-size: 10px !important;
    right: 0px;
    top: -30px;
}

.plusIcon {
    background-color: #FFBE3D;
    color: white;
    border: 0px;
}

.plusIcon:hover {
    color: white !important;
}

@media screen and (max-width: 575px) {
    .cart-container {
        .note {
            background: rgba(255, 190, 61, 0.23);
            border-radius: 5px;
            margin: 20px 20px 20px 20px;
            &> div {
                padding: 9px 20px;
            }
        }
    }
}