.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px !important;
    gap: 10px;
    background: $primary-color;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;

    &:hover {
        background: #c08a1d;
    }
}